{% extends 'blog/base.html' %}
{% load my_tags %}
{% block content %}

<div class="row text-center">
    <div class="col-3 mb-5 mx-auto">
        <a href="{% url 'blog:create' %}" type="button"
           class="btn btn-lg btn-block btn-outline-dark">Добавить блог</a>
    </div>
</div>
<div class="album py-5 bg-body-tertiary">
    <div class="container">
        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
            {% for object in object_list %}
            <div class="col">
                <div class="card-height shadow-sm card d-flex flex-column">
                    <div class="carousel-inner img">
                        <img src="{{ object.preview | media_filter }} " class="img-fluid">
                    </div>
                    <div style="height: 200px">
                        <div class="card-body ">
                            <p class="card-text text-center">{{ object }}</p>
                            <p class="card-text text-center">{{ object.content|truncatechars:100}}</p>
                            <div class="d-flex justify-content-between align-items-center">
                                <div class="btn-group margin-top:auto ">
                                    <a class="btn btn-dark mx-1 rounded-pill" href="{% url 'blog:update' object.pk %}"
                                       role="button">Форматировать</a>
                                    <a class="btn btn-dark mx-1 rounded-pill" href="{% url 'blog:detail' object.pk %}"
                                       role="button">Подробнее</a>
                                    <a class="btn btn-danger mx-1 rounded-pill" href="{% url 'blog:delete' object.pk %}"
                                       role="button">Удалить</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}